{
	"gt001": {
		"title": "Input1",
		"font": "Helvetica",
		"fontSize": "12",
		"background": "#FFFFFF",
		"textColor": "#000000",
		"fileFormat": "csv",
		"fileExtension": "csv"
	},
	"gt002": {
		"title": "Out 1",
		"font": "Arial",
		"fontSize": "20",
		"background": "#00FFFF",
		"textColor": "#0000FF",
		"fileFormat": "csv",
		"fileExtension": "csv"
	},
	"gt003": {
		"title": "Input 2",
		"font": "Courier",
		"fontSize": "14",
		"background": "#000000",
		"textColor": "#FFFFFF",
		"fileFormat": "txt",
		"fileExtension": "txt"
	},
	"gt004": {
		"title": "Out 2",
		"font": "Courier",
		"fontSize": "8",
		"background": "#00FF00",
		"textColor": "#FF00FF",
		"fileFormat": "txt",
		"fileExtension": "txt"
	}
}